/* global.css */
@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Google+Sans:ital,opsz,wght@0,17..18,400..700;1,17..18,400..700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kurale&family=Momo+Trust+Display&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}




.layout {  
    display: grid;

    background:
        linear-gradient(
            180deg,
            #111827 0%,
            #3b4f6a 100%
        );
    grid-template-rows: 
        auto
        auto 
        1fr 
        auto;

    min-height: 100vh !important; /* Desktop */
    min-height: 100dvh !important; /* Mobile devices*/
    min-height: -webkit-fill-available; /* Older iphones*/

    font-family: 'Figtree','Roboto Condensed', sans-serif;
}

.movies-main {
    padding: 20px;
    background:
        radial-gradient(
            circle at top left,
            rgba(99, 102, 241, 0.12),
            transparent 50%
        ),

        radial-gradient(
            circle at bottom right,
            rgba(168, 85, 247, 0.10),
            transparent 28%
        ),

        linear-gradient(
            180deg,
            #111827 0%,
            #0f172a 45%,
            #020617 100%
        );
    color: white;
    margin: 0;
}

.movies-main::before {
    content: "";

    position: fixed;
    inset: 0;

    pointer-events: none;

    background-image:
        radial-gradient(
            rgba(255,255,255,0.03) 1px,
            transparent 1px
        );

    background-size: 18px 18px;

    opacity: 0.3;
}

html, body {
    scroll-behavior: auto;
}