/* landing.css */

.landing-main {

    width:100%;
    max-width:1600px;

    margin:0 auto;

    padding:0 52px 42px;

    padding-top: 80px;

    box-sizing:border-box;

    display:flex;
    flex-direction:column;
    align-items:center;

}

.landing-main, .carasoul-section {
    color: white;
}


.hero-section {
    display: flex;

    flex-direction: column;
    align-items: center;
    padding: 40px 0;
}

.hero-title {
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 0.5rem;

    /*center*/
    text-align: center;
}

.hero-text {
    max-width: 600px;
    margin: 0 auto;
    font-size: 1.2rem;
    line-height: 1.6;
    text-align: center;
    margin-bottom: 20px;
}

/*search*/
.search-input {
    display: flex;
    width: 750px;

    font-size: 20px;
    font-weight: 600;

    padding: 16px 20px;
    background: rgba(255, 255, 255, 0.06);

    backdrop-filter: blur(20px);

    border: 2px solid rgba(255, 255, 255, 0.08);
    border-radius: 20px;

    overflow: hidden;

    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.25);
    color: rgb(184, 176, 176);
    
    transition: all 0.25s ease;
}

.search-input:focus {
    outline: none;
    color: rgb(184, 176, 176);
    transform: translateY(-6px);
    box-shadow: 0 12px 30px rgba(0,0,0,0.15);
}


button:hover {
    background-color: #333;
}

button:active {
    background-color: #555;
}


.nav-search {
    display: flex;
    gap: 10px;
    margin-left: auto;
}

.display-gap {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
    gap: 2px;
}

.nav-search-input {
    width: 230px;
    padding: 12px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-top: auto;
}

.nav-search-input:focus {
    outline: none;
    border-color: #d8cfcf;
}

.nav-search-btn {
    padding: 8px 12px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #1C0F13;
    color: #F0EFF4;
    cursor: pointer;
}

.carasoul-section {
    width: 100%;
    overflow: hidden;
}

.movie-row-container {
    width: 100%;

    overflow-x: auto;
    overflow-y: visible;


    padding: 10px 0;
    scrollbar-width: none;
}

.movie-row {
    display: flex; 
    flex-wrap: nowrap;

    width: max-content;
    gap: 1rem;

    padding-left: 52px;
    padding-right: 52px;

}

.movie-row-container::-webkit-scrollbar {
    display: none;
}


.landing-subheader {
    width: 100%;
    font-size: 30px;
    font-weight: 600;


    margin: 20px 0 10px;
    padding-left: 52px;
}

/*For mobile phone*/
@media (max-width: 768px) {
    .landing-main {
        padding: 0 16px 24px;
    }

    .hero-title {
        font-size: 2.4rem;
        text-align: center;
    }

    .hero-text {
        font-size: 1rem;
        width: 100%;
    }

    .search-input {
        width: 100%;
    }

    .landing-subheader {
        font-size: 24px;
    }

    .movie-row {
        padding-bottom: 8px;
    }


}