/* landing.css */

.landing-main {
    background:
        linear-gradient(
            180deg,
            #111827 0%,
            #3b4f6a 100%
        );


    color: white;
    padding: 32px;

      /* Center everything */
    display: flex;
    flex-direction: column;
    align-items: center; 

    /* Prevents wide monitors from spreading all contents of page*/
    max-width: 1600px;

}

.hero-section {
    padding: 40px 0;
}

.hero-title {
    font-size: 60px;
    font-weight: 800;
    margin-bottom: 0.5rem;

    /*center*/
    text-align: center;
}

.hero-text {
    max-width: 600px;
    margin: 0 auto;
    font-size: 1.2rem;
    line-height: 1.6;
    text-align: center;
    margin-bottom: 20px;
}

/*search*/
.search-input {
    display: flex;
    width: 750px;

    font-size: 20px;
    font-weight: 600;

    padding: 16px 20px;
    background: rgba(255, 255, 255, 0.06);

    backdrop-filter: blur(20px);

    border: 2px solid rgba(255, 255, 255, 0.08);
    border-radius: 20px;

    overflow: hidden;

    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.25);
    color: rgb(184, 176, 176);
    
    transition: all 0.25s ease;
}

.search-input:focus {
    outline: none;
    color: rgb(184, 176, 176);
    transform: translateY(-6px);
    box-shadow: 0 12px 30px rgba(0,0,0,0.15);
}


button:hover {
    background-color: #333;
}

button:active {
    background-color: #555;
}


.nav-search {
    display: flex;
    gap: 10px;
    margin-left: auto;
}


.nav-search-input {
    width: 230px;
    padding: 12px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
    margin-top: auto;
}

.nav-search-input:focus {
    outline: none;
    border-color: #d8cfcf;
}

.nav-search-btn {
    padding: 8px 12px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    background-color: #1C0F13;
    color: #F0EFF4;
    cursor: pointer;
}


.movie-row {
    display: flex; 
    flex-wrap: nowrap;
    overflow-x: auto;
    gap: 1rem;

    scrollbar-width: none;
}

.movie-row::-webkit-scrollbar {
    display: none;
}



.landing-subheader {
    align-self: flex-start;
    font-size: 30px;
    font-weight: 600;
    margin-bottom: 10px;
    margin-top: 20px;
}