@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kurale&family=Momo+Trust+Display&family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');

.navbar {
    display:flex;
    background: #1C0F13;
    /* padding: 15px 32px; */
    justify-content: space-between;
    align-items: center;

    padding: 1rem 2rem;
    font-family: 'Inter', Arial;
    text-decoration: none;

  
    flex-wrap: nowrap;

    scrollbar-width: none;
    width: 100%;
}

.movie-row::-webkit-scrollbar {
    display: none;
}



.nav-left {
    display: flex;
    gap: 2rem;
    align-items: center;
    flex-shrink: 0;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 1.5rem;
    flex-shrink: 0;
}

.nav-links {
    color: #F0EFF4;
    font-size: 18px;
    font-weight: 500;

    display: flex;
    align-items: center;
    gap: 1.5rem;
   
    list-style: none;

    margin: 0;
    padding: 0;
}

.nav-search {
    display: flex;
    gap: 1.5rem;
    list-style: none;
    justify-content: center;
}


.nav-search input {
    width: 230px;
    padding: 0.7rem 1rem;
}

.logo {
    color: #F0EFF4;
    font-size: 18px;
    font-weight: 700;
    text-decoration: none;
    white-space: nowrap;
}

.nav-links > li > .nav-link,
.nav-right > li > .nav-link,
.signout-btn {

    flex-shrink: 0;
    position: sticky;

    color: #F0EFF4;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;

    padding: 0.6rem 1rem;
    border-radius: 8px;

    font-family: 'Inter', Arial;
    font-weight: 700;

    /* icons are aligned with their links*/
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;

    transition:
        transform 0.2s ease,
        color 0.2s ease,
        background 0.2s ease,
        opacity 0.2s ease;
}

li {
    list-style: none;
}

.signout-btn {
    color:#1C0F13 !important;
    background-color: #f7fdff !important;
    background: 
        linear-gradient(
            145deg,
            #f8f9fa 0%,
            #dff7a3 40%,
            #aaf257 100%
        );
    border: none;
}

.nav-links > li > .nav-link:hover,
.nav-right > li > .nav-link:hover,
.signout-btn:hover {
    background-color:#4d4141;
    transform: scale(1.05);
    color: #f7fdff;
    text-decoration: none;
}

.dropdown {
    position: relative;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;

    background: white;
    list-style: none;
    padding: 10px 0;

    
    min-width: 150px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);

    z-index: 25;
}

.dropdown-menu li {
    padding: 8px 15px;
}

.dropdown-menu li .nav-link {
    text-decoration: none;

    color: rgb(46, 40, 40);
}

/* Show dropdown on hover */
.dropdown-menu {
    display: block;
}

.dropdown-menu li:hover {
    background: #f3f3f3;
}